.formulario {
    width: 100%;
}

.campo  {
    display: flex;
    margin-bottom: 2rem;
    align-items: center; // alineo los labes

    label{
        flex: 0 0 10rem; //10e s la base de lo que va a meidr
        color: $blanco;
        
    }   

    input {
        border-radius: 1rem;
        border: none;
        padding: $separacion / 4;
        flex: 1; //factor de crecimient, ttoma todo lo que le queda de espacio
    }
}

.alerta {
    padding: $separacion / 2;
    text-align: center;
    color: $blanco;
    width: 100%;
    display: block;

    &.error{
        background-color: rgb(194, 0, 0);
    }
}